@model SuspectsNCrimininal



    <partial name="_Notifications" />


<h1 id="crimID" class="text-white glassBackground" style="width:fit-content; margin-top:8%;">Welcome To The Criminal Dashboard</h1>
  
    <br/><br/>




<!--Main Container-->
<div class="container ">
    <div class="row">

    <!--Column 1-->
    <div class="col-sm-4 glassBackground  shiftSearchContainer " style="width:279.8px;">
            <div class="input-group mb-3 mt-3"  >
                <form role="search" method="post" asp-controller="Criminal" asp-action="DashboardView">
                <input type="text" id="textInputlabel" class="form-control glassBackground text-black" required placeholder="Search by ID" name="SusID" />
                <button class="btn btn-primary glassBackground" style="margin-top:1%;" type="submit">Search ID</button>
                </form>
            </div>

    <br /><br />
            <div class="text-white OneColumntable mt-4">
    @if(Model != null)
    {  <table class="w-75" style="padding-left:10px;"   >
        <thead>
            <tr>
            <th></th>
            <th></th>
            <tr>
            </thead>
            <tbody>
      <tr >
        <td >
           Suspect No:  <br /><br />
           Suspect ID:  <br /><br />
           First Name:  <br /><br />
           Last Name:
        </td>
        <td>@Model.Suspects.SuspectNo <br/>
            <br/>
            @Model.Suspects.SuspectID <br/><br/>
            @Model.Suspects.FirstName<br/><br/>
            @Model.Suspects.LastName
        </td>
    </tr>
    </table>
     }
        
    </div>
    <br/><br/><br/><br/>

<div class="mt-4" >

     <a asp-controller="Criminal" asp-action="UpdateSuspect" asp-route-id="@TempData["FoundSusNo"]" id="ShowAccepted" type="submit" class="btn btn-primary glassBackground" 
                style="width:fit-content; margin-left:15%; margin-bottom:10%;">Edit Suspect</a>
                
</div>
</div><!--end of Column1-->

        
<!--column 2-->
<div class="table-responsive">
 <div class="col-md-8 mt-4 mt-md-0" >
                <br /><br />
    <div>
                <h2 class="text-white glassBackground  d-inline-block px-1 py-2">Criminal Records</h2>
    </div>
                
            <div >
                <div class="card rounded-3 border p-3 mt-5 glassBackground">
                    @if (Model != null)
                    {
                        <table id="MainTable" class="table table-bordered border-secondary text-white">
                            <thead>
                                <tr>
                                    <th>Record ID</th>
                                    <th>Suspect Number</th>
                                    <th>Offence</th>
                                    <th>Sentence</th>
                                    <th>Issued At </th>
                                    <th>Issued By</th>
                                    <th>Date Issued</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>




                            <tbody>
                                @if (Model.CriminalRecords.Any())
                                {
                                    @foreach (var obj in Model.CriminalRecords)
                                    {


                                        <tr class="text-black">
                                            <td>@obj.CriminalRecordId</td>
                                            <td>@Model.Suspects.SuspectNo</td>
                                            <td>@obj.Offences</td>
                                            <td> @obj.Sentence</td>
                                            <td> @obj.LocationIssued</td>
                                            <td> @obj.IssuedBy</td>
                                            <td>@obj.DateIssued.ToShortDateString()</td>
                                            <td>
                                                <a asp-controller="Criminal" 
                                                asp-action="UpdateCriminal" 
                                                asp-route-id="@obj.CriminalRecordId" 
                                                id="ShowAccepted"
                                                   type="submit" class="btn btn-primary glassBackground btn-sm">Edit</a>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>

                            
                           
                        </table>
                    }
                   
                    else if (!string.IsNullOrEmpty(Context.Request.Query["suspectId"]))
                    {
                        <p>No records found for Suspect ID: @Context.Request.Query["suspectId"]</p>
                    }


                 @if(Model!=null)
                 {
                    <div>
                        <a asp-controller="Criminal" asp-action="CriminalRecordView"
                                   asp-route-SuspectNo="@Model.Suspects.SuspectNo" asp-route-viewName="DashboardView"
                                   class="btn btn-primary glassBackground" style="width:fit-content">Create Criminal Record</a>

                    </div>
                 }
               
           
        <div>
               
    </div>
</div>
            

    </div>
</div>
        </div>
<!--end of column 2-->

</div>
</div>


@section Scripts {
    <script>
            $(document).ready( function () {
                $('#MainTable').DataTable();


                    // $('.dataTables_filter input').addClass('glassBackground');
        } );
    </script>
}


     