@model SuspectsNCrimininal

<body>
<h1 class="text-white glassBackground" style="width:fit-content; margin-top:8%;">Welcome To The Criminal Dashboard</h1>
    @if (searchPressed() == true) @* this checks if the model is not null *@
    {
        @*if the model is not null meaning the correlating id was found then hide the warning*@
        <p class="text-danger glassBackground fw-bold" hidden style="width:fit-content;">@TempData["ErrorMessage"]</p>
    }
    else
    {
        @*otherwise show the warning*@
        <p class="text-danger glassBackground fw-bold"  style="width:fit-content;">@TempData["ErrorMessage"]</p>
    }
    <br/><br/>


@functions
{
    private bool searchPressed()
    {
        return Model != null;
    }
}

<!--Main Container-->
<div class="container">
    <div class="row">

        <!--Column 1-->
        <div class="col-sm glassBackground" style="width:fit-content;">
            <div class="input-group mb-3" style="margin-left:15%; margin-top:3%; width:fit-content;">
                <form role="search" method="post" asp-controller="Criminal" asp-action="DashboardView">
                <input type="text" id="textInputlabel" class="form-control glassBackground text-black" placeholder="Search by ID" name="SusID" />
                <button class="btn btn-primary glassBackground" style="margin-top:1%;" type="submit">Search ID</button>
                </form>
            </div>

    <br /><br />
    <div class="text-white" >
    @if(Model != null)
    {  <table style="margin-left:15%; width:fit-content;"  >
        <thead>
            <tr>
            <th></th>
            <th></th>
            <tr>
            </thead>
            <tbody>
        <tr>
        <td >
           Suspect No:  <br /><br />
           Suspect ID:  <br /><br />
           First Name:  <br /><br />
           Last Name:
        </td>
        <td>@Model.Suspects.SuspectNo <br/>
            <br/>
            @Model.Suspects.SuspectID <br/><br/>
            @Model.Suspects.FirstName<br/><br/>
            @Model.Suspects.LastName
        </td>
    </tr>
    </table>
     }
         else if(searchPressed())
                {
                    <h1>Welcome To The Criminal Dashboard</h1>
                    <p class="text-danger" >Suspect Not Found</p>
                }
    </div>
    <br/><br/><br/><br/>

<div class="row" >

     <a asp-controller="Criminal" asp-action="UpdateSuspect" asp-route-id="@TempData["FoundSusNo"]" id="ShowAccepted" type="submit" class="btn btn-primary glassBackground" 
                style="width:fit-content; margin-left:15%; margin-bottom:10%;">Edit Suspect</a>
                
</div>
</div><!--end of Column1-->

<!--column 2-->
<div class="col-sm" style="margin-left:2%;">
    <div>
        <h2 class="align-self-center text-white glassBackground" style="width:fit-content;">Criminal Records</h2>
    </div>
    <br/><br/>
            <div >
                <div class="card rounded-3 me-1g-n5 border p-3 mt-4 glassBackground  p-3">
                    @if (Model != null)
                    {
                        <table id="MainTable" class="table table-bordered border-secondary text-white" >
                            <thead>
                                <tr>
                                    <th>Record ID</th>
                                    <th>Suspect Number</th>
                                    <th>Offence</th>
                                    <th>Sentence</th>
                                    <th>Issued At </th>
                                    <th>Issued By</th>
                                    <th>Date Issued</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>




                            <tbody>
                                @if (Model.CriminalRecords.Any())
                                {
                                    @foreach (var obj in Model.CriminalRecords)
                                    {


                                        <tr class="text-black">
                                            <td>@obj.CriminalRecordId</td>
                                            <td>@Model.Suspects.SuspectNo</td>
                                            <td>@obj.Offences</td>
                                            <td> @obj.Sentence</td>
                                            <td> @obj.LocationIssued</td>
                                            <td> @obj.IssuedBy</td>
                                            <td>@obj.DateIssued.ToShortDateString()</td>
                                            <td>
                                                <a asp-controller="Criminal" asp-action="UpdateCriminal" asp-route-id="@obj.CriminalRecordId" id="ShowAccepted" type="submit" class="btn btn-primary glassBackground" style="width:150px">Edit</a>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>

                            
                           
                        </table>
                    }
                    @* else if (searchPressed())
                    {
                      <p>No Criminal Records Found</p>
                    } *@
                    else if (!string.IsNullOrEmpty(Context.Request.Query["suspectId"]))
                    {
                        <p>No records found for Suspect ID: @Context.Request.Query["suspectId"]</p>
                    }


                 @if(Model!=null)
                 {
                    <div>
                        <a asp-controller="Criminal" asp-action="CriminalRecordView"
                                   asp-route-SuspectNo="@Model.Suspects.SuspectNo" asp-route-viewName="DashboardView"
                                   class="btn btn-primary glassBackground" style="width:fit-content">Create Criminal Record</a>

                    </div>
                 }
               
           
        <div>
               
    </div>
</div>
            

    </div>
</div> 
</div>
</div>
</body>


     